.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: hsl(217, 19%, 24%);
}

.adviceNum {
  color: hsl(150, 100%, 66%);
  font-size: 12px;
  letter-spacing: 0.3rem;
}

.quote {
  text-align: center;
  color: hsl(193, 38%, 86%);
  font-size: 28px;
}

.divider {
  margin-top: 0.6rem;
}

.button {
  position: relative;
  bottom: -1.8rem;
  margin-bottom: -1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}

.button:hover {
  box-shadow: 0rem 0rem 2rem hsl(150, 100%, 66%);
  cursor: pointer;
}

.button:active {
  cursor: pointer;
  background-color: hsl(150, 76%, 59%);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 35rem;
  }

  .divider {
    content: url(../public/images/pattern-divider-desktop.svg);
  }
}
